<!DOCTYPE html>
<html>

<head>
  <title>tes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
  <div class="center-align">
    <h1>Assign Task to a Department</h1>
    <div class="row">
      <form class="col s12" action="/Kantors/add" method="post">
        <div class="row">
          <div class="col s12">
            <div class="input-field inline">
              <input placeholder="Nama" , id="Url" type="text" class="validate" name="nama">
              <label for="nama"></label>
            </div>

            <select name="bulan">
              <option value="" disabled selected>Month</option>
              <%
                data.forEach((d) => {
              %>
              <option value="1"><%=d.name %></option>
            <%
          })
          %>
            </select>

            <select name="gedung">
              <option value="" disabled selected>Departments</option>
              <%
                data.forEach((d) => {
              %>
              <option value="1"><%=d.name %></option>
            <%
          })
          %>
            </select>
          </div>
        </div>
        <button class="waves-effect waves-light btn" type="submit">Add</button>
      </form>
    </div>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
      <script type="text/javascript">
        $('.tap-target').tapTarget('open');
        $('.tap-target').tapTarget('close');
      </script>
</body>

</html>